<main class="page-content">
    <section class="section-80 section-md-top-125">
        <div class="shell">
            <div class="range range-xs-center range-lg-justify">
                <div class="cell-sm-6 cell-sm-push-1 cell-lg-5 text-sm-left">
                    <h3>7 плюсов работы с нами</h3>
                    <div class="offset-top-15">
                        <ul class="list-group">
                            <li>+ Мы организуем рупповые туры</li>
                            <li>+ Офис в центре города</li>
                            <li>+ Официально (договор + чек)</li>
                            <li>+ Работаем с крупнейшими туроператорами <br />(возможность сравнить и выбрать лучшие предложения)</li>
                            <li>+ Полная помощь в организации путешествия <br />(визовая поддержка, трансфер в аэропорты)</li>
                            <li>+ Подбор тура онлайн</li>
                        </ul>
                    </div>
                    <div class="offset-top-20 offset-md-top-45"><a href="@Url.Action("AllTours", "Tours")" class="btn btn-primary">туры</a></div>
                </div>
                <div class="cell-sm-5 cell-lg-preffix-1 offset-top-60 offset-sm-top-0 text-center">
                    <div class="range range-xs-bottom range-xs-left range-md-center">
                        <div class="cell-xs-5 cell-xs-preffix-1 cell-sm-preffix-0 cell-sm-6 cell-md-4"><a href="#" class="reveal-inline-block"><img src="/images/About/place-01-118x89.jpg" width="118" height="89" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-sm-6 cell-md-4 offset-top-30 offset-xs-top-0"><a href="#" class="reveal-inline-block"><img src="/images/About/place-02-79x89.jpg" width="79" height="89" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-xs-preffix-1 cell-sm-preffix-0 cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0"><a href="#" class="reveal-inline-block"><img src="/images/About/place-03-138x98.jpg" width="138" height="98" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-sm-6 cell-md-4 offset-top-30"><a href="#" class="reveal-inline-block"><img src="/images/About/place-04-144x93.jpg" width="144" height="93" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-xs-preffix-1 cell-sm-preffix-0 cell-sm-6 cell-md-4 offset-top-30"><a href="#" class="reveal-inline-block"><img src="/images/About/place-05-138x96.jpg" width="138" height="96" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-sm-6 cell-md-4 offset-top-30"><a href="#" class="reveal-inline-block"><img src="/images/About/place-06-138x98.jpg" width="138" height="98" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-xs-preffix-1 cell-sm-preffix-0 cell-sm-6 cell-md-4 offset-top-30"><a href="#" class="reveal-inline-block"><img src="/images/About/place-07-154x69.jpg" width="154" height="69" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-sm-6 cell-md-4 offset-top-30"><a href="#" class="reveal-inline-block"><img src="/images/About/place-08-139x74.jpg" width="139" height="74" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                        <div class="cell-xs-5 cell-xs-preffix-1 cell-sm-preffix-0 cell-sm-6 cell-md-4 offset-top-30"><a href="#" class="reveal-inline-block"><img src="/images/About/place-09-132x84.jpg" width="132" height="84" alt="" class="img-responsive img-semi-transparent-inverse center-block"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-80 section-md-top-70 bg-wild-wand bg-wild-wand-team-member">
        <div class="shell">
            <div>
                <h3>Наша команда</h3>
            </div>
            <div class="offset-top-10">
                <p>
                    Мы компания "Океан внутри" и мы не просто рядовое турагенство, мы живём путешествиями, никогда не сидим на месте и приглашаем Вас стать частью
                    увлекательного мира, открыть перед собой новые горизонты, ведь с нами Вы увидите эту планету совершенно под другим углом, рассмотрите слово
                    путешествовать не только с точки зрения пляжного отдыха, а так же почувствуете себя первооткрывателями, увидеть места и природу, которые
                    на всегда останутся у вас в памяти...
                    <br />
                    Групповыми турами мы занимаемся уже не первый год и отлично знаем и понимаем как должно проходить подобное путешествие, каждый заезд
                    продумывается до мелочей, разрабатывается программа, которую Вам не предложат больше нигде!
                    4 года успешной работы только с положительными отзывами дали нам понять, что наше любимое дело нравится людям, а положительные эмоции
                    и улыбки дают нам новых сил чтобы развиваться дальше и разрабатывать лучшие направления специально для Вас)
                </p>
            </div>
            <div class="offset-top-40">
                <div data-items="1" data-sm-items="2" data-md-items="2" data-stage-padding="5" data-loop="true" data-margin="30" data-mouse-drag="true" data-dots="true" data-nav="true" class="owl-carousel owl-dots-primary">
                    <div class="owl-item">
                        <div class="team-member">
                            <div class="team-member-img-wrap team-member-img-wrap-border-darker"><img src="/images/About/Yauhen_mini.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                            <div class="team-member-body">
                                <div class="offset-top-20">
                                    <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">Варков Евгений</div>
                                </div>
                                <div class="offset-top-8">
                                    <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">Директор и основатель</div>
                                </div>
                                <div class="offset-top-20">
                                    <p class="text-small text-italic text-silver-chalice">
                                        Директор и основатель компании путешествий "океан внутри", ваш личный гид на всех групповых заездах!
                                        Профессиональное образование, опыт работы в туризме, а самое главное любовь к путешествиям сделали Евгения отличным гидом,
                                        который сможет показать вам любую страну, будь то Испания или Гоа, а может Шри Ланка или остров мечты Бали, во всей красоте,
                                        сделать поездку незабываемой, отдых отличным! Но внимание, Евгений обязательно влюбит вас в путешествия и вы станете постоянным участником наших групповых заездов, а отдых, организованный директором нашей компании навсегда останется в вашем сердце!
                                    </p>
                                </div>
                            </div>
                            <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                            </div>
                        </div>
                        <div class="offset-top-20">
                            <ul class="list-inline list-primary list-inline-13">
                                <li class="text-center"><a href="https://vk.com/id11229157" class="icon fa fa-vk text-gray"></a></li>
                                <li class="text-center"><a href="https://www.facebook.com/profile.php?id=100000834364824" class="icon fa fa-facebook text-gray"></a></li>
                                <li class="text-center"><a href="https://www.instagram.com/varkov_evgeniy/" class="icon fa fa-instagram text-gray"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="owl-item">
                        <div class="team-member">
                            <div class="team-member-img-wrap team-member-img-wrap-border-darker"><img src="/images/About/Maria_mini.jpg" width="100" height="100" alt="" class="img-circle img-responsive center-block"></div>
                            <div class="team-member-body">
                                <div class="offset-top-20">
                                    <div class="team-member-title text-small text-ubold text-uppercase text-spacing-200 text-gray-base">Пригодская Мария</div>
                                </div>
                                <div class="offset-top-8">
                                    <div class="team-member-description text-spacing-300 text-italic text-uppercase text-silver-chalice">Менеджер</div>
                                </div>
                                <div class="offset-top-20">
                                    <p class="text-small text-italic text-silver-chalice">
                                        Если вы проснулись утром и поняли - отпуск необходим,
                                        позвоните нашему менеджеру и она подберёт вам отличный вариант! Любовь к путешествиям и своей работе делает
                                        из Марии отличного специалиста в данной сфере! Визовая поддержка, подбор тура, планирование путешествия...
                                        со всеми этими вопросами вы всегда можете обратиться к нам и получить консультацию!
                                    </p>
                                </div>
                            </div>
                            <div class="team-member-hover-content offset-top-20 offset-lg-top-0">
                            </div>
                        </div>
                        <div class="offset-top-20">
                            <ul class="list-inline list-primary list-inline-13">
                                <li class="text-center"><a href="https://vk.com/id309674492" class="icon fa fa-vk text-gray"></a></li>
                                <li class="text-center"><a href="#" class="icon fa fa-facebook text-gray"></a></li>
                                <li class="text-center"><a href="#" class="icon fa fa-instagram text-gray"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>