<div data-height="" data-min-height="400px" data-simulate-touch="false" data-slide-effect="fade" class="swiper-container swiper-slider">
    <div class="swiper-wrapper">
        <div data-slide-bg="/images/Layout/main_background_slider_9.png" class="swiper-slide"></div>
        <div data-slide-bg="/images/Layout/main_background_slider_8.png" class="swiper-slide"></div>
        <div data-slide-bg="/images/Layout/main_background_slider_4.png" class="swiper-slide"></div>
        <div data-slide-bg="/images/Layout/main_background_slider_2.png" class="swiper-slide"></div>
        <div data-slide-bg="/images/Layout/main_background_slider_6.png" class="swiper-slide"></div>
    </div>
    <div class="swiper-caption-absolute">
        <div class="shell">
            <div class="range range-xs-center">
                <div class="cell-lg-10">
                    <div>
                        <h1 class="text-white text-ubold">Компания путешествий <br /> "Океан внутри"</h1>
                    </div>
                    <div class="offset-top-8">
                        <p class="h5 text-white">Ты откроешь свой океан в наших путешествиях!</p>
                    </div>
                    <div class="offset-top-30 offset-md-top-60 inset-left-20 inset-right-20 inset-sm-left-0 inset-sm-right-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"><span class="icon icon-xxs icon-circle icon-filled-white mdi mdi-chevron-left text-gray"></span></div>
    <div class="swiper-button-next"><span class="icon icon-xxs icon-circle icon-filled-white mdi mdi-chevron-right text-gray"></span></div>
</div>