@model Ocean.Inside.Project.Models.GroupTourViewModel

<h2 class="offset-top-25">Добавить групповой тур</h2>

<div class="box bg-white offset-top-25" style="min-width: 45%">
    <form method="post" action="@Url.Action("AddGroupTour", "Tour")">
        @Html.AntiForgeryToken()

        <div class="form-group form-group-xs">
            <label for="Title" class="form-label">Заголовок</label>
            <input name="Title" id="Title" class="form-control" type="text" />
        </div>

        <div class="form-group form-group-xs">
            <label for="Description" class="form-label">Описание</label>
            <input name="Description" id="Description" class="form-control" type="text" />
        </div>

        <div class="form-group form-group-xs">
            <label for="Duration" class="form-label">Количество дней</label>
            <input name="Duration" id="Duration" class="form-control" type="text" />
        </div>

        <div class="form-group form-group-xs">
            <label for="DurationNights" class="form-label">Количество ночей</label>
            <input name="DurationNights" id="DurationNights" class="form-control" type="text" />
        </div>

        <div class="form-group form-group-xs">
            <label for="Price" class="form-label">Цена</label>
            <input name="Price" id="Price" class="form-control" type="text" />
        </div>

        <div class="form-group form-group-xs">
            @Html.EnumDropDownListFor(model => model.CurrencyCode, null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-success" />
        </div>
    </form>
</div>