<main class="page-content" style="margin-bottom: 85px">
    <section>
        <div data-on="false" data-md-on="true" class="rd-parallax">
            <div data-speed="0.25" data-type="media" data-url="/images/Layout/1920x900.jpg" class="rd-parallax-layer"></div>
            <div data-speed="0" data-type="html" data-md-fade="false" class="rd-parallax-layer">
                <div class="shell section-80 section-md-top-135 section-md-bottom-145">
                    <div class="range range-xs-center">
                        <div class="cell-xs-9 cell-sm-7 cell-md-5 cell-lg-4">
                            <div class="box box-lg reveal-block bg-white inset-lg-left-60 inset-lg-right-60">
                                <h5 class="text-ubold text-sm-center">Login</h5>
                                <div>
                                    <form class="rd-mailform">
                                        <div class="offset-top-4 section-hidden">
                                            <p class="divider-both-lines text-silver-chalice text-italic">Use your social account</p>
                                        </div>
                                        <div class="offset-top-8">
                                            <a href="#" class="btn btn-block btn-icon btn-icon-both btn-facebook btn-wide-left-icon">
                                                <span class="icon icon-xxs fa fa-vk"></span>
                                                <span class="inset-left-15">LOG IN WITH VK</span>
                                                <span class="icon icon-xxs mdi mdi-chevron-right"></span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

